body {
    font-family:  Calibri;
}

.flexbox{
    height: 250px;
    border: 1.5px dashed black;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
}

.flexbox div{
    background: thistle;
    width: 300px;
    margin: 15px;
}

.flexbox:nth-child(4) {
    flex-flow: row nowrap;
}

.flexbox:nth-child(5) {
    justify-content: space-between;
}

.flexbox:nth-child(5) div {
    width: 30px;
}

.flexbox:nth-child(6) {
    justify-content: center;
    align-items: center;
}

.flexbox:nth-child(6) div {
    width: 30px;
}

.flexbox:nth-child(7) {
    align-items: baseline;
    
}

.flexbox:nth-child(7) div {
    width: 30px;
}