body {
    font-family: monospace;
}

@keyframes anda {
    0% {
        transform: translateX(0);
        background: lightskyblue;
    }
    25% {
        height: 80px;
    }
    75% {
        height: 80px;
    }
    100% {
        transform: translateX(300px);
        background: lightgreen;
    }
}

#anima-time div{
    width: 80px;
    height: 50px;
    border: 3px solid #ccc;
}

#anima-time div:nth-child(1) {
    animation-duration: 2s;
    animation-name: anda;
    animation-timing-function: ease-in-out;
}

#anima-time div:nth-child(2) {
    animation-duration: 2s;
    animation-name: anda;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

#anima-time div:nth-child(3){
    animation-duration: 2s;
    animation-name: anda;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

#anima-time div:nth-child(4){
    animation-duration: 2s;
    animation-name: anda;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    background: lightpink;
}

#anima-time div:nth-child(5){
    animation-duration: 2s;
    animation-name: anda;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    background: lightpink;
    animation-fill-mode: both;
    animation-play-state: running;
}

#anima-time div:nth-child(5):hover {
    animation-play-state: paused;
}





